/*светлые тона
#C2B2AE
#CFBEB0

темные тона
#8F8381
#423D3C
*/

/* ------------------- меню ------------------------*/
nav {
	background-color: #C2B2AE;
}
nav a {
	color: white;
}
nav form {
	margin-left: 7vw;
}

@media (max-width: 1200px){
	nav form {
		margin-left: 0;
	}
}
/*---------------------------------------!!!???-------*/
.bg-darkmy {
  background-color: #C2B2AE !important;
}

a.bg-darkmy:hover, a.bg-darkmy:focus,
button.bg-darkmy:hover,
button.bg-darkmy:focus {
  background-color: #dae0e5 !important;
}

/*--------------------- категории -----------------------*/

nav .nav-item a {
	color: #423D3C;
}

/* ------------------- карусель ------------------------*/
.carousel-caption div {
	height: 10vh;
	background-color: white;
	opacity: 0.7;
	color: #423D3C;
}
.carousel-caption h3 {
	padding-top: 10px;
}
/* -------------------- section -------------------------- */

/* ------------------- footer ------------------------*/

footer {
	background-color: #C2B2AE;
}
/*------------------- вход для админа -------------------*/
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    margin-top: 10vh;
}